* @hedger @DrZlo13 @gsurkov @imihajlow

/assets/frontend/ @hedger @DrZlo13 @gsurkov @imihajlow @Slipn3r
/assets/frontend-build/ @hedger @DrZlo13 @gsurkov @imihajlow @Slipn3r

/applications/main/busy/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/main/clock/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/main/power_on/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @vanyww
/applications/main/settings_menu/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/main/soft_off/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov

/applications/services/audio/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/applications/services/back_display/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/ble/ @hedger @DrZlo13 @gsurkov @imihajlow @RebornedBrain
/applications/services/brightness_control/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/services/busy_timer/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/services/canvas/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @portasynthinca3
/applications/services/cli*/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/applications/services/desktop/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/device_info/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/applications/services/device_name/ @hedger @DrZlo13 @gsurkov @imihajlow @gornekich @portasynthinca3
/applications/services/font_registry/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/services/front_display/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/gui/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/input/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/intercom/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/light_sensor/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/loader/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/matter/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/applications/services/mqtt/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/network/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/nvm/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/power/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @portasynthinca3
/applications/services/recovery/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/sl_info/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/state_publisher/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/services/status_bar/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/services/status_lights/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/services/storage/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/services/supervisor/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/applications/services/time/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3 @Skorpionm
/applications/services/tls_crypto/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/usb_network/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/web_server/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/services/wifi/ @hedger @DrZlo13 @gsurkov @imihajlow

/applications/settings/about/ @hedger @DrZlo13 @gsurkov @imihajlow @gornekich
/applications/settings/account_settings/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/applications/settings/ble_settings/ @hedger @DrZlo13 @gsurkov @imihajlow @RebornedBrain
/applications/settings/brightness_settings/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/settings/firmware/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @vanyww
/applications/settings/matter_settings/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/applications/settings/sound_settings/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/applications/settings/system_settings/ @hedger @DrZlo13 @gsurkov @imihajlow @gornekich
/applications/settings/time_settings/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/applications/settings/wifi_settings/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov

/applications/system/apps_menu/ @hedger @DrZlo13 @gsurkov @imihajlow
/applications/system/crypto*/ @hedger @DrZlo13 @gsurkov @imihajlow @Skorpionm
/applications/system/fetch*/ @hedger @DrZlo13 @gsurkov @imihajlow @Skorpionm
/applications/system/tar/ @hedger @DrZlo13 @gsurkov @imihajlow @Skorpionm
/applications/system/updater/ @hedger @DrZlo13 @gsurkov @imihajlow @Skorpionm @vanyww

/targets/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @Skorpionm

/lib/anim_file/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/lib/cli/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/lib/containers/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/lib/drivers/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/lib/lvgl_addons/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @portasynthinca3 @vanyww
/lib/matter_glue/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/lib/mbedtls_patch/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/lib/netstat/ @hedger @DrZlo13 @gsurkov @imihajlow @portasynthinca3
/lib/network/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov
/lib/setting_provider/ @hedger @DrZlo13 @gsurkov @imihajlow @vanyww
/lib/settings_helpers/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @portasynthinca3 @vanyww
/lib/sl_glue/ @hedger @DrZlo13 @gsurkov @imihajlow @Skorpionm
/lib/storage_utils/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @portasynthinca3 @vanyww
/lib/toolbox/ @hedger @DrZlo13 @gsurkov @imihajlow @nminaylov @portasynthinca3 @vanyww

tests/ @ssecsd @iMalkav
