[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/flipperdevices/tinyusb.git
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = https://github.com/flipperdevices/lwip.git
[submodule "targets/lib/simplicity_sdk"]
	path = lib/simplicity_sdk
	url = https://github.com/flipperdevices/simplicity-sdk.git
[submodule "lib/wiseconnect"]
	path = lib/wiseconnect
	url = https://github.com/flipperdevices/wiseconnect.git
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/amachronic/microtar.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/flipperdevices/heatshrink.git
[submodule "fbt_layers/fbtng"]
	path = fbt_layers/fbtng
	url = https://github.com/flipperdevices/fbtng.git
[submodule "scripts/toolchain"]
	path = scripts/toolchain
	url = https://github.com/flipperdevices/fbtng-bootstrap.git
	shallow = false
[submodule "fbt_layers/core_libs"]
	path = fbt_layers/core_libs
	url = https://github.com/flipperdevices/fbtng-corelibs.git
[submodule "fbt_layers/freertos"]
	path = fbt_layers/freertos
	url = https://github.com/flipperdevices/fbtng-freertos.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/flipperdevices/lvgl.git
[submodule "lib/matter_ext"]
	path = lib/matter_ext
	url = https://github.com/flipperdevices/silabs_matter_extension.git
[submodule "lib/cjson"]
	path = lib/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "lib/matter_zap"]
	path = lib/matter_zap
	url = https://github.com/busy-app/busybar-matter-zap.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/stb/stb_repo"]
	path = lib/stb/stb_repo
	url = https://github.com/nothings/stb
[submodule "assets/proto"]
	path = assets/proto
	url = https://github.com/busy-app/busybar-protobuf.git
[submodule "documentation/doxygen/doxygen-awesome-css"]
	path = documentation/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/jerryscript"]
	path = lib/jerryscript
	url = https://github.com/flipperdevices/jerryscript.git
	branch = bsb
