[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "lib/nema_gfx"]
	path = lib/nema_gfx
	url = https://github.com/flipperdevices/nema-gfx.git
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = git://git.savannah.gnu.org/lwip.git
[submodule "targets/lib/simplicity_sdk"]
	path = lib/simplicity_sdk
	url = https://github.com/SiliconLabs/simplicity_sdk.git
[submodule "lib/wiseconnect"]
	path = lib/wiseconnect
	url = https://github.com/flipperdevices/wiseconnect.git
[submodule "lib/microtar"]
	path = lib/microtar
	url = https://github.com/amachronic/microtar.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/flipperdevices/heatshrink.git
[submodule "fbt_layers/fbtng"]
	path = fbt_layers/fbtng
	url = https://github.com/flipperdevices/fbtng.git
[submodule "scripts/toolchain"]
	path = scripts/toolchain
	url = https://github.com/flipperdevices/fbtng-bootstrap.git
