@import 'tailwindcss';
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Inter', sans-serif;
}

:root {
  --ui-text: var(--color-black);
  --ui-container: 1440px;

  --glass-stroke:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.10) 0%,
      rgba(0, 0, 0, 0.00) 100%
    );
  --glass-fallback: rgba(0, 0, 0, 0.03);
  --glass-ring-width: 1px;
  --glass-mask: linear-gradient(#fff 0 0) content-box no-repeat, linear-gradient(#fff 0 0) no-repeat;
}

.dark {
  --ui-text: var(--color-white);

  --glass-stroke:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.10) 0%,
      rgba(255, 255, 255, 0.00) 100%
    );
  --glass-fallback: rgba(255, 255, 255, 0.03);
}

body {
  overscroll-behavior: none;

  @apply bg-white dark:bg-[#121212]
}

input[aria-invalid="true"] {
  background-color: rgb(239, 68, 68, 0.1);
}

button {
  @apply cursor-pointer disabled:cursor-not-allowed aria-disabled:cursor-not-allowed;
}

@layer utilities {
  @keyframes -spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .animate-spin {
    animation: -spin 1s linear infinite; 
  }

  .ring { --glass-ring-width: 1px; }
  .ring-0 { --glass-ring-width: 0; }
  .ring-1 { --glass-ring-width: 1px; }
  .ring-2 { --glass-ring-width: 2px; }
  .ring-4 { --glass-ring-width: 4px; }
  .ring-8 { --glass-ring-width: 8px; }

  .ring-without-fallback {
    --glass-fallback: rgba(255, 255, 255, 0);
  }

  .ring-glass {
    @apply relative ring-inset ring-black/10 dark:ring-white/10;
  }

  @supports (mask: var(--glass-mask)) {
    .ring-glass {
      @apply ring-0;
      box-shadow: inset 0 0 0 var(--glass-ring-width) var(--glass-fallback);
    }
    .ring-glass::before {
      @apply absolute inset-0 pointer-events-none rounded-[inherit];

      mask: var(--glass-mask);
      @apply mask-exclude;

      content: '';
      background: var(--glass-stroke);
      padding: var(--glass-ring-width);
    }
  }
}
