@import 'tailwindcss';
@import "@nuxt/ui";

@theme static {
  --font-sans: 'PP Neue Montreal', sans-serif;
}

:root {
  --ui-text: var(--color-black);
  --ui-container: 1440px;
}

.dark {
  --ui-text: var(--color-white);
}

.muted {
  color: var(--ui-color-neutral-500);
}

body {
  overscroll-behavior: none;

  @apply bg-white dark:bg-[#121212]
}

input[aria-invalid="true"] {
  background-color: rgb(239, 68, 68, 0.1);
}

button {
  @apply cursor-pointer disabled:cursor-not-allowed aria-disabled:cursor-not-allowed;
}

@layer utilities {
  @keyframes -spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .animate-spin {
    animation: -spin 1s linear infinite; 
  }
}
